*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/**amazon logo**/
.nav-logo{
    height: 50px;
    width: 115px;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
/**common border**/
.border{
    border: 3px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 5px;
}

.add-icon{
    display: flex;
    align-items: center;
}

.nav-search{
    display: flex;
    align-items: center;
    background-color: #febd69;
    width: 620px;
    height: 30px;
    border-radius: 4px;
    margin-left: 15px;
}

.search-icon{
    border: border-box;
    width: 100%;
    height: 50%;
    align-items: center;
    text-align: center;
}

.search-input{
    background-color: #f3f3f3;
    width: 7000px;
    height: 90%;
}


.search-select{
    background-color: #f3f3f3;
    width: 50px;
    height: 100%;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

/**box4**/
.nav-language{
    display: flex;
    margin-left: 15px;
    width: 100px;
    align-items: center;
    height: 40px;
    color: white;
    background-color: #0f1111;
}

.add-flag{
    background-image: url(flag.png);
    background-size: cover;
    height: 30px;
    width: 80px;
    margin-left: 15px;
    align-items: center;
}

.nav-lang{
    margin-left: 5px;
    height: 25px;
    width: 50px;
    color: white;
    background-color: #0f1111;
    border: transparent;
    align-items: center;
}

/**box5**/
span{
    font-size: 0.8rem;
}

.nav-second{
    font-size: 1rem;
    font-weight: 700;
}
/**box5**/
span{
    font-size: 0.8rem;
}
.nav-second1{
    font-size: 1rem;
    font-weight: 700;
}
/**box6**/


.nav-shoping i{
   font-size: 30px; 
}
.nav-shoping{
    font-size: 1rem;
    font-weight: 700;
}
/**panel**/
.panel{
    display: flex;
    background-color:#232f3e ;
    color: #f3f3f3;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
    
}
.panel1 p{
    display: inline;
    font-weight: 300;
    margin-left: 15px;
    
}
.panel1{
    width: 80%;
    font-weight: 300;

}
.panel2{
    font-weight: 300;
    margin-right: 15px;
}
.amazon-business{
    background-color:#232f3e ;
    color: #f3f3f3;
    border: transparent;
    font-size: 100%;
    height: 100%;
}
.Browsing-History{
    background-color:#232f3e ;
    color: #f3f3f3;
    border: transparent;
    font-size: 100%;
    height: 100%;  
}
/**hero section**/
.hero-section{
    background-image: url(Homepage.jpg);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.hero-messege{
    height: 30px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    margin-bottom: 10px;
    
    
}
.hero-messege a{
    color: #007185;
}
/*SHOP SECTION**/
.box{
    border: 1px solid black;
    height: 350px;
    padding: 20px 0px 15px;
    margin-top: 15px;

}
.shop-section{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    color: #363837;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.box-content{
   
    width: 340px;
    height: 90%;
    background-size: cover;
    
}

/**footer area**/
.footer-area1{
    background-color: #0F1111;
    height: 25px;
    width: 100;
    color: #f3f3f3;
    padding: 10px 0px 10px;
    text-align: center;
    
}

.footer-area2{
    display: flex;
    background-color: #232F3E;
    height: 320px;
    width: 100;
    color: #f3f3f3;
    justify-content: space-evenly;
    
}
.footer-area2 p{
    margin-top: 30px;
    line-height: 1.7;
    margin-left: 1px;
    margin-right: 1px;
   
}
.footer-area2 a{
    color: #f3f3f3;
    background-color: transparent;
}
.footer-area3{
    background-color: #0F1111;
    height: 100px;
    width: 100;
    color: #f3f3f3;
    padding: 10px 0px 10px;
    text-align: center;
}

.footer-area3{
    margin-top: 5px;
}

.footer-area3 p{
    margin-top: 10px;
    text-align: center;
}


    




